body{
    background-color: lightslategrey;
    display: flex;
    flex-wrap: wrap;
}

table{
    border: solid thick aquamarine;
    border-radius: 2%;
    margin: auto;
    width: 100%;
    margin-top: 5vh;
    font-size: 3vh;
    margin-bottom: 5vh;
}
th,
td,
tbody{
    border: solid 1px aquamarine;
    width: 70px;
}
input{
    width: 70px;
}